@model LLServer.Gacha.Database.GachaCard
@{
    ViewBag.Title = "Edit";
    Layout = "../_Layout.cshtml";
}

<h2>Editing Gacha Card @Model.name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name)
            @Html.EditorFor(model => model.name)
            <br/>
            
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn"/>
        </div>
    </div>
    
    @Html.Raw(Model.GetCardImages())
}

<div>
    @Html.ActionLink("Back to List", "Cards", "GachaOverview", null, new { @class = "btn" })
</div>