@using LLServer.Common
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model LLServer.Gacha.WebUI.GachaOverviewModel

@{
    Layout = "../_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Gacha Data Editor</title>
</head>
<body>
<div>
    <h1>Gacha Data Editor</h1>

    <h2>Gacha Tables</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Is valid</th>
            <th>Unique Cards</th>
            <th>Card groups</th>
            <th>Character IDs</th>
            <th>Total access count</th>
            <th></th>
        </tr>
    
        @foreach (var item in Model.gachaTables.OrderBy(x => x.id, new NumberedStringComparer()))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isValid)
                </td>
                <td>
                    <span>@(item.cardIds.Length > 0 ? GetCardNames(item.cardIds) : "none")</span>
                </td>
                <td>
                    <span>@(item.cardGroupIds.Length > 0 ? GetTableGroups(item.cardGroupIds) : "none")</span>
                </td>
                <td>
                    @Html.Partial("_CharacterIconView", item.characterIdBools)
                </td>
                <td>
                    <span>@(item.metaData.count.Sum() > 0 ? item.metaData.count.Sum() : "None")</span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTable", "GachaTableEditor" , new { item.id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "DeleteTable", "GachaTableEditor", new { item.id }, new { @class = "btn" })
                </td>
            </tr>
        }
    </table>
    
    <div>
        @Html.ActionLink("Rescan Logs", "RescanLogs", "GachaOverview", null, new { @class = "btn" })
    </div>
    
    <div>
        @Html.ActionLink("Add New Table", "EditTable", "GachaTableEditor", new { id = "new" }, new { @class = "btn" })
    </div>
    
    <br/>
    
    <div>
        @Html.ActionLink("Upload Log File", "UploadLog", "GachaOverview", null, new { @class = "btn" })
    </div>
    
</div>
</body>
</html>

@functions
{
    public string GetTableGroups(int[] groupIds)
    {
        string cardGroupNames = "";
        bool isFirst = true;
        foreach(var group in groupIds)
        {
            if (!isFirst)
            {
                cardGroupNames += ", ";
            }
            cardGroupNames += ViewBag.cardGroupNames[group];
            isFirst = false;
        }
        return cardGroupNames;
    }
    
    public string GetCardNames(string[] cardIds)
    {
        string cardNames = "";
        bool isFirst = true;
        foreach(var group in cardIds)
        {
            if (!isFirst)
            {
                cardNames += ", ";
            }
            cardNames += ViewBag.cardNames[group];
            isFirst = false;
        }
        return cardNames;
    }
}
